h1 a {
    color: #FCA205;
    font-family: 'Comfortaa';
}

body {
    padding: 0 50px;
}

.page-header {
    background-color: #58908a;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 38pt;
    text-decoration: none;
}

.post_list {
    margin: 20px 0;
    background-color: cornsilk;
    padding: 30px;
    border-radius: 15px;
}

.post_list h1 a{
    color: #58908a;
    font-size: 34pt;
}

.post_list .published_date {
    font-size: 10pt;
    color: darkgray;
}

.post_list .post_text {
    font-size: 16pt;
}